name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  AOC_SESSION: ${{ secrets.AOC_SESSION }}

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        day: [day1, day2, day3]
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build ${{ matrix.day }}
      working-directory: ./${{ matrix.day }}
      run: cargo build --verbose
    
    - name: Run tests for ${{ matrix.day }}
      working-directory: ./${{ matrix.day }}
      run: cargo test --verbose
