name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  AOC_SESSION: ${{ secrets.AOC_SESSION }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install lld
      run: sudo apt-get update && sudo apt-get install -y lld

    - name: Set up Bazelisk
      uses: bazelbuild/setup-bazelisk@v3

    - name: Bazel build all
      run: bazelisk build //... --@rules_rust//:rustc_flags=-Clink-arg=-fuse-ld=lld

    - name: Bazel test all (includes smoke runs)
      run: bazelisk test //... --@rules_rust//:rustc_flags=-Clink-arg=-fuse-ld=lld
