name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  AOC_SESSION: ${{ secrets.AOC_SESSION }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Bazelisk
      uses: bazelbuild/setup-bazelisk@v3

    - name: Bazel build all
      run: bazelisk build //...

    - name: Bazel test all (includes smoke runs)
      run: bazelisk test //...
